# Ignorar a pasta uploads e todo o seu conteúdo
/uploads/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de cache
cache/
*.tmp

# Ignorar arquivos de sistema operacionais
.DS_Store
Thumbs.db

# Ignorar arquivos de dependências e builds
node_modules/
vendor/
build/
dist/

# Ignorar arquivos de configurações de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignorar arquivos de configuração de ambientes locais
.env
.env.local
.htaccess